@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
body {
  background-color: rgba(0, 0, 0, 1);
  font-family: "Poppins", sans-serif;
}
.text-color {
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins", sans-serif;
}
.text-color2 {
  color: rgba(107, 107, 107, 1);
}
.p-color {
  color: rgba(222, 17, 47, 1);
  font-family: "Poppins", sans-serif;
}
.new-font {
  font-family: "Ramaraja", serif;
}
.grey-color {
  color: rgba(138, 136, 136, 1);
}
.red-color {
  color: rgba(222, 17, 47, 1);
}
.gradient-text {
  background-image: url("./assets//hero/halloween-party-men-spooky-costumes-celebrate-generated-by-ai\ 1.svg");
  /* background: linear-gradient(
    90deg,
    #fc3646,
    #ff5337,
    #ff8c28,
    #a2be6f,
    #549973
  ); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
